.page-content-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  width: 100%;
}

.template-content {
  display: block;
  flex-grow: 1;
  width: 100%;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 70px;
  border-bottom: 1px solid #EBEBEB;
}

.context-bar-header {
  color: #333;
  font-weight: 600;
  font-size: 17px;
  margin: 5px 20px;
}

.header-divider {
  width: 100%;
  height: 1px;
  background-color: #EBEBEB;
}

/* Attributes Section */
.header-attributes {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 12px 20px;
  flex-wrap: wrap;
}

.attribute-name {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
}

.attribute-text {
  font-size: 14px;
  white-space: nowrap;
}

.attribute-text-unselected {
  color: #a0a0a0;
  font-size: 14px;
  font-style: italic;
  white-space: nowrap;
}

/* Right-align Settings button */
.settingsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}
